<!DOCTYPE ejs>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
</head>

<style>
    .container{
        margin: auto;
        height: 85vh;
        display: flex;
        padding: 10px;
    }
    .cont{
        background-color: beige;
        padding: 10px 30px;
        border: solid 1px;
        box-shadow: 2px 2px gray;
        margin: auto;
    }
    .cont button, input{
        margin: 3px;
    }
    .coord{
        text-align: right;
    }
    @media(max-width: 550px){
        .container{
            flex-direction: column;
            text-align: center;
        }
    }
</style>

<body>
    <div class="container">
        
        <div class="cont" id="locationForm">
            <h1>Enter Coordinates</h1>
            
            <div class="coord">
                <label for="latitude">Latitude:</label>
                <input type="text" id="latitude" name="latitude" placeholder="Latitude" required><br>

                <label for="longitude">Longitude:</label>
                <input type="text" id="longitude" name="longitude" placeholder="Longitude" required><br>
            </div>

            <button type="button" onclick="fillCurrentPosition()">Use GPS</button><br>
            <button type="button" onclick="route()">Find Schools Nearby</button>
        </div>
    </div>

    <script>
        function fillCurrentPosition() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function(position) {
                    const latitude = position.coords.latitude;
                    const longitude = position.coords.longitude;

                    document.getElementById('latitude').value = latitude;
                    document.getElementById('longitude').value = longitude;

                }, function(error) {
                    alert('Error getting location: ' + error.message);
                });
            } else {
                alert('Geolocation is not supported by this browser.');
            }
        }

        function round(num) {
            return Math.round(num * 1e4) / 1e4;
        }
    
        function route() {
            const latitude = round(document.getElementById("latitude").value);
            const longitude = round(document.getElementById("longitude").value);

            if (!latitude || !longitude) {
                alert('Please fill in both coordinates.');
                return;
            }

            // Build the URL with latitude and longitude parameters
            const url = `/listSchools/${encodeURIComponent(latitude)}/${encodeURIComponent(longitude)}`;
            
            // Redirect to the URL
            window.location.href = url; 
        }
    </script>
</body>
</html>